<div class="max-w-7xl mx-auto px-6 py-12">

  <h2 class="text-4xl font-bold flex items-center justify-center mb-15">Topwear</h2>

  <div *ngIf="loading" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 animate-pulse">
    <div *ngFor="let i of [1,2,3]">
      <div class="bg-gray-200 h-80 mb-4"></div>
      <div class="h-4 bg-gray-200 w-2/3 mb-2"></div>
      <div class="h-4 bg-gray-200 w-1/3"></div>
    </div>
  </div>

  <div *ngIf="!loading"
       class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-10">

    <div *ngFor="let product of filteredProducts"
         class="group cursor-pointer">

      <div [routerLink]="['/product', product._id]" class="overflow-hidden bg-gray-100">
        <img
          [src]="product.images[0]"
          class="w-full h-96 object-cover transition-transform duration-300 group-hover:scale-105"
          alt="product" />
      </div>

      <div class="mt-4">

        <h3 class="text-lg font-medium">
          {{ product.product_name }}
        </h3>

        <div class="flex items-center gap-3 mt-1">

          <span *ngIf="product.offer_price < product.price"
                class="line-through text-gray-400 text-sm">
            ${{ product.price }}
          </span>

          <span class="font-semibold text-black">
            ${{ product.offer_price }}
          </span>

        </div>

      </div>

    </div>

  </div>

</div>
